.with-borders {
  border-radius: 2px;
  border-style: solid;
  border-color: black;
}

.carousel-container {
  width: 50%;
}

.nav-parent
 {
  /*--raisin-black: #211E20ff;
  --raisin-black-2: #262425ff;
  --jet: #323031ff;
  --raisin-black-3: #292628ff;
  --raisin-black-4: #242123ff;*/
  
  
  background-color: #262425ff; /* Raisin Black 2 */
}

.parent-container {
  height: 1000px;
  background-image: url("/assets/images/brushed-alum-dark-1920x1080.png");  
  background-size: auto;  
}

.parent-footer {
  height: 150px;
  background-color: #262425ff; /* Raisin Black 2 */
}

.lg-padding {
  padding: 50px;
}


.footer-links li {
	display: inline;
}

.footer-links i {
	font-size: 160%;
	margin: auto;
  
	padding: 30px 30px 30px 30px;
	color: white;
}

.footer-font {
	color: #fafafa;
	letter-spacing: 2px;
	display: block;
	font-size: inherit;
	text-align: justify;
}

.align-center {
  margin: auto;
  text-align: center;
  align-items: center;
}